/*
colores 
        black
        blueviolet
        text #ed9292
fuentes:        
        font-family: 'Anton', sans-serif;
        font-family: 'Barlow', sans-serif;
1rem=16px
*/



@media only screen and (max-width: 480px) {
    body {
        background-color: cadetblue;
    }
}

@media only screen and (max-width: 960px){
    body{
        background-color: darkcyan;
    }
}
body {
    background-color: black;
    width: 100%;

}

.cabecera{
    height: 300px;
    min-width: 300px;
    width: 100vw;
    display: flex;
    margin: 10px;


}

.logo{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.menu-container{
    width: 100%;
    height: 302px;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    flex-direction: column;
}


h1{
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    color: #ed9292;
    padding: 50px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}
.menu li{
    transition-duration: 2s;
    padding: 10px 100px;
    font-size: 18px;
    display: inline-block;
}
.menu li:hover{
    font-size: 28px;

}
.menu li{
    animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  

.menu li a{
    text-align: center;
    color: blanchedalmond;
    text-decoration: none;
}

.video_car{

    width: 100vw;
}
p {
    color: #ed9292;
}


iframe{
    display: flex;
    width: 400px;

}
.vid1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.vid1 p{
    color: #ed9292;
    width: auto;
}
.ar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.ar p{
    font-family: 'Barlow', sans-serif;
    width: 20%;
    flex-wrap: wrap;
    color: aliceblue;
    justify-content: center; align-items: center;
}
img{
    display: inline-block;
    height: 300px;
    width: 200px;
}

.footer{
    height: 200px;
    width: 100%;
    display: flex;


}

.footer img{
    display: inline-block
}
.footer p{
    font-family: 'Barlow', sans-serif;
    padding-block-end: 10%;
    display: block;
    color: #ed9292;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.footer div{

    margin: 15px 15px;

}

.contact{
    margin-top: 20px;
}
.logof {
    width: 40px;
    height: 40px;
}


.grid-container{
    width: 100%;
    display: grid;
}

/* PAGE NOS CCS*/

.div_nos{
    display: inline-block;
    margin: 70px;
    padding: 15px;
}
.nos{
    font-family: 'Barlow', sans-serif;
    color:rgb(209, 183, 183);
}

/* PAGE SERVICIOS CSS*/

.div1_title{
    padding: 70px;
    height: 156px;
}
.div1_img{
    display: flex;
    width: 100%
}

.div_serv1{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}
.div_serv1 p{
    margin: 50px;
    color: #ed9292;
    font-family: 'Barlow', sans-serif
}

.div_serv2{
    display: flex;
    margin: 80px;
}
.div_serv2 p{
    margin: 50px;
    color: #ed9292;
    font-family: 'Barlow', sans-serif
}

.div_serv3{
    display: flex;
    margin: 170px;
}

.div_serv3 p{
    margin: 50px;
    color: #ed9292;
    font-family: 'Barlow', sans-serif
}

/*PAGE ARTISTAS CSS*/

.div1_ar{
    display: flex;
    margin: 20px;
    padding: 40px;
    align-items: center;
    flex-wrap: wrap;  
}

.div1_ar p{
    margin: 50px;
    color: #ed9292;
    font-family: 'Barlow', sans-serif
}

.div2_ar{
    display: flex;
    margin: 20px;
    padding: 40px;
    align-items: center;
    flex-wrap: wrap;
}
.div2_ar p{
    margin: 50px;
    color: #ed9292;
    font-family: 'Barlow', sans-serif
}

.grid-artistas{
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px 24px;
}

.g1 {
    grid-row-start: 1;
}
.g-p{
    font-family: 'Barlow', sans-serif;
    grid-column-start: 2;
    display: flex;
    align-items: center;
}
.g2 {
    grid-row-start: 2;
}
.g3 {
    grid-row-start: 3;
}
